<a href="https://colab.research.google.com/github/SwaksharDeb/Activity-recognition/blob/master/HAR_paper1_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import math
import csv
import array
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from numpy import savetxt
from sklearn.preprocessing import StandardScaler
from collections import Counter
from sklearn.model_selection import train_test_split
import tensorflow as tf
import scipy.stats as stats
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv2D, MaxPool2D
from tensorflow.keras.optimizers import Adam
from math import sqrt
import math

In [3]:
"""Import Datasets"""
dataset_user04 = pd.read_csv("final_field_user04_dataset.csv")
dataset_user07 = pd.read_csv("final_field_user07_dataset.csv")
dataset_user08 = pd.read_csv("final_field_user08_dataset.csv")
dataset_user18 = pd.read_csv("final_field_user18_dataset.csv")
dataset_user38 = pd.read_csv("final_field_user38_dataset.csv")
dataset_user51 = pd.read_csv("final_field_user51_dataset.csv")
dataset_lab = pd.read_csv("lab data localized.csv")

dataset = pd.concat([dataset_lab, dataset_user04, dataset_user07, dataset_user08, dataset_user18, dataset_user38, dataset_user51], ignore_index = True)

In [4]:
""" Data processing"""
X = dataset.iloc[:, [0, 1, 2]].values
Y = dataset.iloc[:, 3].values
Y = Y - 1

In [5]:
# Data Augmentation
scalling_factor = [0.3,0.5,0.7,0.8,1.2,1.5,2]

for scal in scalling_factor:
    X_1_scal = X[np.where(Y==1)]*scal
    label_1 = Y[np.where(Y==1)]
    X_2_scal = X[np.where(Y==2)]*scal
    label_2 = Y[np.where(Y==2)]
    X_5_scal = X[np.where(Y==5)]*scal
    label_5 = Y[np.where(Y==5)]
    X_7_scal = X[np.where(Y==7)]*scal
    label_7 = Y[np.where(Y==7)]
    X_8_scal = X[np.where(Y==8)]*scal
    label_8 = Y[np.where(Y==8)]
    X_9_scal = X[np.where(Y==9)]*scal
    label_9 = Y[np.where(Y==9)]
    X_10_scal = X[np.where(Y==10)]*scal
    label_10 = Y[np.where(Y==10)]
    X = np.concatenate((X, X_1_scal,X_2_scal,X_5_scal,X_7_scal,X_8_scal,X_9_scal,X_10_scal))
    Y = np.concatenate((Y, label_1,label_2, label_5, label_7, label_8, label_9, label_10))

scalling_factor = [0.5,2]

for scal in scalling_factor:
    X_3_scal = X[np.where(Y==3)]*scal
    label_3 = Y[np.where(Y==3)]
    X_11_scal = X[np.where(Y==11)]*scal
    label_11 = Y[np.where(Y==11)]
    X = np.concatenate((X, X_3_scal, X_11_scal))
    Y = np.concatenate((Y, label_3, label_11))

scalling_factor = [0.3,0.5,1.5,2]

for scal in scalling_factor:
    X_0_scal = X[np.where(Y==0)]*scal
    label_0 = Y[np.where(Y==0)]
    X_6_scal = X[np.where(Y==6)]*scal
    label_6 = Y[np.where(Y==6)]
    X = np.concatenate((X, X_0_scal, X_6_scal))
    Y = np.concatenate((Y, label_0, label_6))

In [6]:
X.shape,Y.shape

((26992376, 3), (26992376,))

In [7]:
low_pass_filter = np.zeros((X.shape[0], X.shape[1]))
for i in range(len(X)):
    for j in range(X.shape[1]):
        if i == 0:
            low_pass_filter[i][j] = X[i][j]
        else:
            low_pass_filter[i][j] = 0.8*X[i-1][j] + (1-0.8)*X[i][j]

In [8]:
# frame preparation
Fs = 4
frame_size = Fs*20 # 80 # 20 seconds of data
hop_size =  Fs*10

def get_frames(df, frame_size, hop_size,label_data):

    N_FEATURES = 3

    frames = []
    labels = []
    for i in range(0, len(df) - frame_size, hop_size):
        value = df[i: i + frame_size, :]
        #y = df[i: i + frame_size, 1]
        #z = df[i: i + frame_size, 2]

        # Retrieve the most often used label in this segment
        label = stats.mode(label_data[i: i + frame_size])[0][0]
        frames.append([value])
        labels.append(label)

    # Bring the segments into a better shape
    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)

    return frames, labels

row_frame, row_label = get_frames(X, frame_size, hop_size, Y)
low_pass_frame, low_pass_label = get_frames(low_pass_filter, frame_size, hop_size, Y)

In [9]:
row_frame.shape, low_pass_frame.shape

((674808, 80, 3), (674808, 80, 3))

In [10]:
#feature calculation
mean = np.mean(low_pass_frame, axis = 1)  # mean along (x,y,z) axis
std = np.std(low_pass_frame, axis = 1)  # standard deviation along (x,y,z) axis

rms_x = []  # root mean square along x axis
value = 0
for i in range(low_pass_frame.shape[0]):
    for j in range(low_pass_frame.shape[1]):
        value = value + (low_pass_frame[i][j][0] **2)
        value = value / (low_pass_frame.shape[1])
    value = sqrt(value)
    rms_x.append(value)
    value = 0

rms_y = []  # root mean square along y axis
for i in range(low_pass_frame.shape[0]):
    for j in range(low_pass_frame.shape[1]):
        value = value + (low_pass_frame[i][j][1] **2)
        value = value / (low_pass_frame.shape[1])
    value = sqrt(value)
    rms_y.append(value)
    value = 0

rms_z = []  # root mean square z axis
for i in range(low_pass_frame.shape[0]):
    for j in range(low_pass_frame.shape[1]):
        value = value + (low_pass_frame[i][j][2] **2)
        value = value / (low_pass_frame.shape[1])
    value = sqrt(value)
    rms_z.append(value)
    value = 0

In [11]:
lengths = []  # length of the accelerometer vector
length = 0
nx, ny, nz = row_frame.shape[0], row_frame.shape[1], row_frame.shape[2]
acc_vector = np.reshape(row_frame,(nx, ny*nz))

for i in range(acc_vector.shape[0]):
    count = 0
    for j in range(acc_vector.shape[1]):
        length += acc_vector[i][j]**2
        count += 1

        if count == 3:
            length = sqrt(length)
            lengths.append(length)
            length = 0
            count = 0

avc = []  # avc feature

polling_rate = 4 #Hz

for i in range(0, len(lengths), frame_size):
    value = 0
    iterable = lengths[i:i+frame_size]
    for j in range(len(iterable) - 1, 1, -1):
        value += abs(iterable[j] - iterable[j - 1])

    value = value / (frame_size / polling_rate)
    avc.append(value)

In [12]:
max_min = []
for i in range(0, len(lengths), frame_size):
    iterable = lengths[i:i+frame_size]

    max_min.append(max(iterable) - min(iterable))

In [13]:
angle = np.zeros((low_pass_frame.shape[0],low_pass_frame.shape[1],low_pass_frame.shape[2]))  # inclenation angle
angles = []
length = 0
for i in range(angle.shape[0]):
    for j in range(angle.shape[1]):
        length = low_pass_frame[i,j,0]**2 + low_pass_frame[i,j,1]**2 + low_pass_frame[i,j,2]**2
        length = sqrt(length)
        if length == 0:
            print("length is zero in index row= ",i,"column= ",j)
        else:
            angle_x = math.acos(low_pass_frame[i,j,0]/length)
            angle_y = math.acos(low_pass_frame[i,j,1]/length)
            angle_z = math.acos(low_pass_frame[i,j,2]/length)
            angle[i][j][0] = angle_x
            angle[i][j][1] = angle_y
            angle[i][j][2] = angle_z
nx, ny, nz = angle.shape
angle = np.reshape(angle,(nx,ny*nz))

In [14]:
input_vector = np.zeros((row_frame.shape[0], angle.shape[1] + 11))  # input vector for the algorithm
for i in range(input_vector.shape[0]):
    input_vector[i][0] = mean[i][0]
    input_vector[i][1] = mean[i][1]
    input_vector[i][2] = mean[i][2]
    input_vector[i][3] = std[i][0]
    input_vector[i][4] = std[i][1]
    input_vector[i][5] = std[i][2]
    input_vector[i][6] = rms_x[i]
    input_vector[i][7] = rms_y[i]
    input_vector[i][8] = rms_z[i]
    input_vector[i][9] = max_min[i]
    input_vector[i][10] = avc[i]

for i in range(angle.shape[0]):
    for j in range(angle.shape[1]):
        input_vector[i][j+11] = angle[i][j]

In [15]:
input_vector.shape, row_label.shape

((674808, 251), (674808,))

In [16]:
sc = StandardScaler()
input_vector = sc.fit_transform(input_vector)

In [17]:
X_train, X_val, y_train, y_val = train_test_split(input_vector, row_label, test_size = 0.2, random_state = 0, stratify = row_label)

In [18]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_shape=(X_train.shape[1], )))
model.add(Dropout(0.2))
model.add(Dense(units=64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(units=128, activation='relu'))
model.add(Dropout(0.2))
#model.add(Dense(units=324, activation='relu'))
#model.add(Dropout(0.2))
model.add(Dense(units=12, activation='softmax'))

In [19]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
history = model.fit(X_train, y_train, epochs = 50, batch_size =64, validation_data= (X_val, y_val), verbose=1)

Epoch 1/50
8436/8436 [==============================] - 22s 3ms/step - loss: 1.4472 - accuracy: 0.5781 - val_loss: 1.2710 - val_accuracy: 0.6085
Epoch 2/50
8436/8436 [==============================] - 22s 3ms/step - loss: 1.3105 - accuracy: 0.6002 - val_loss: 1.2118 - val_accuracy: 0.6152
Epoch 3/50
8436/8436 [==============================] - 22s 3ms/step - loss: 1.2634 - accuracy: 0.6083 - val_loss: 1.1327 - val_accuracy: 0.6313
Epoch 4/50
8436/8436 [==============================] - 22s 3ms/step - loss: 1.2372 - accuracy: 0.6141 - val_loss: 1.1170 - val_accuracy: 0.6336
Epoch 5/50
8436/8436 [==============================] - 22s 3ms/step - loss: 1.2210 - accuracy: 0.6176 - val_loss: 1.0939 - val_accuracy: 0.6417
Epoch 6/50
8436/8436 [==============================] - 22s 3ms/step - loss: 1.2061 - accuracy: 0.6203 - val_loss: 1.0817 - val_accuracy: 0.6461
Epoch 7/50
8436/8436 [==============================] - 23s 3ms/step - loss: 1.1970 - accuracy: 0.6228 - val_loss: 1.0741 - val_accuracy: 0.6497
Epoch 8/50
8436/8436 [==============================] - 27s 3ms/step - loss: 1.1895 - accuracy: 0.6245 - val_loss: 1.0641 - val_accuracy: 0.6506
Epoch 9/50
8436/8436 [==============================] - 23s 3ms/step - loss: 1.1819 - accuracy: 0.6268 - val_loss: 1.0674 - val_accuracy: 0.6490
Epoch 10/50
8431/8436 [============================>.] - ETA: 0s - loss: 1.1777 - accuracy: 0.6270

In [ ]:
y_pred = model.predict(X_val)

In [ ]:
y_pred_ = np.zeros((y_pred.shape[0]))
for i in range(y_pred.shape[0]):
    y_pred_[i] = np.argmax(y_pred[i,:])

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred_, y_val)

In [ ]:
pd.DataFrame(cm)

     0   1    2    3     4   5    6  7   8   9  10   11
0   63   1   20   85   104   4   13  4   1   0   3    6
1    3  21    4   25    22   3    8  3   4   3   2    1
2   23   4  388  312   601   8   83  4   6   8   5   33
3    4   1    9  683   617   6   21  2   2   0   0    6
4    9   1   11   58  3241   1    8  0   0   2   2    6
5    3   4    8  125    74  57   35  1   3   1   0    5
6   16   8   38  400   481  18  377  0   0   3   6   14
7    3   3    4   15    18   8    5  9   3   3   0    8
8    3   2    6   20    20   2    5  0  14   0   4    4
9    3   0    4  201    36   3    2  1   7  16   2    6
10   1   3    3   26    17   0    4  4   3   3  12    4
11   8   3   32  140   179   1   18  3   3   4   3  180

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_val, y_pred)

In [ ]:
per_class_accuracy = []
for i in range(cm.shape[0]):
    accuracy = cm[i,i]/sum(cm[i,:])
    per_class_accuracy.append(accuracy)